{% extends 'layout/layout_vertical.html' %}
{% load i18n %}

{% block title %}{{ page_title }} - {% trans "Teams" %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xxl">
    <div class="card mb-6">
      <div class="card-header d-flex align-items-center justify-content-between border-bottom py-4">
        <div class="d-flex align-items-center">
          <div class="avatar flex-shrink-0 me-3">
            <span class="avatar-initial rounded bg-label-info"><i class="bx bx-group fs-4"></i></span>
          </div>
          <div>
            <h5 class="card-title mb-0">{{ page_title }}</h5>
          </div>
        </div>
      </div>
      <div class="card-body pt-6">
        <form method="post" class="confirm-save" novalidate>
          {% csrf_token %}
          {% load crispy_forms_tags %}
          {{ form|crispy }}
          
          <div class="row justify-content-end mt-6">
            <div class="col-sm-12 text-end">
              <button type="submit" class="btn btn-primary">
                <i class="bx bx-save me-1"></i>{% trans "Save Team" %}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
