{% extends 'layout/layout_vertical.html' %}
{% load i18n %}

{% block title %}{% trans "Groups" %}{% endblock %}

{% block content %}
<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h5 class="mb-0">{% trans "Groups List" %}</h5>
    <a href="{% url 'group-create' %}" class="btn btn-primary">
      <i class="icon-base bx bx-plus me-1"></i> {% trans "Add Group" %}
    </a>
  </div>
  <div class="table-responsive text-nowrap">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>{% trans "Group Name" %}</th>
          <th>{% trans "Assigned Systems" %}</th>
          <th>{% trans "Members Count" %}</th>
          <th>{% trans "Actions" %}</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        {% for group in groups %}
        <tr>
          <td><span class="fw-bold text-heading">{{ group.name }}</span></td>
          <td>
            {% if group.systems.all %}
              {% for sys in group.systems.all %}
                <span class="badge bg-label-primary mb-1">{{ sys.name }}</span>
              {% endfor %}
            {% else %}
              <span class="text-muted small">{% trans "No systems" %}</span>
            {% endif %}
          </td>
          <td>
            <span class="badge badge-center rounded-pill bg-label-info">{{ group.user_set.count }}</span>
          </td>
          <td>
            <div class="dropdown">
              <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="icon-base bx bx-dots-vertical-rounded"></i></button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'group-update' group.pk %}"><i class="icon-base bx bx-edit-alt me-1"></i> {% trans "Edit" %}</a>
                <button type="button" class="dropdown-item text-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" data-url="{% url 'group-delete' group.pk %}" data-name="{{ group.name }}">
                  <i class="icon-base bx bx-trash me-1"></i> {% trans "Delete" %}
                </button>
              </div>
            </div>
          </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4" class="text-center py-4">{% trans "No user groups configured." %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
